extends layout

block content
  h1= title
  if displayName && thumbUrl
    h4 以下のアカウントでゲームに参加できます。
    h2 #{displayName}
      img(src=`${thumbUrl}`)
    h4
      a(href='logout') ログアウトするにはこちら
    br
    each id in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
      p.matchingTable(id=`table${id}`)
        span= id + ' 番テーブル'
        br
        button(type="button" id=`join-button${id}`) 参加する
        button(type="button" id=`watch-button${id}`) 観戦する
        br
        span.startTime(id=`time${id}`)
    script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-ipAddress=`${ipAddress}`)
  else
    h3 twitter でログインしてください。
    h3
      a(href='/auth/twitter') Twitter でログイン