extends layout

block content
  table
    tr
      td
        div#roleArea.tablePart
      td
        canvas#mainCanvas.tablePart
      td
        div#explainArea.tablePart
  div#participants.participants.tablePart
  div#chat
    div#mainChatBox.tablePart
      div#mainChat
      div#submitChat
        input#mainChatInput
        button#mainChatButton(value='送信') 送信
    div#privateChatBox.tablePart
  div#dataDiv(data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-twitterId=`${twitterId}`, data-ipAddress=`${ipAddress}`, data-tableId=`${tableId}`)
  script#main(src="/javascripts/table/bundle.js")