extends layout

block content
  canvas#mainCanvas.tablePart
  br
  div#participants.tablePart
  div#chat
    div#mainChat.tablePart
    div#private.tablePart
  div#dataDiv(data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-twitterId=`${twitterId}`, data-ipAddress=`${ipAddress}`, data-tableId=`${tableId}`)
  script#main(src="/javascripts/table/bundle.js")